/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 21, 2022, 6:06:30 PM
    Author     : cloudy_place
*/

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: rgb(148, 218, 237);
}

input,
button {
    border: none;
    outline: none;
    background: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.cont {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 600px;
    height: 450px;
    margin: 50px auto 50px;
    background: #fff;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.3), 10px 10px 15px rgba(70, 70, 70, 0.15), inset -10px -10px 15px rgba(255, 255, 255, 0.3), inset 10px 10px 15px rgba(70, 70, 70, 0.15);
}
.content{
    margin: 60px 30px 10px 40px;
}
.content p{
    margin-left: 50px;
    margin-top: 40px;
}

button {
    display: block;


    width: 100px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

h2 {
    width: 100%;
    font-size: 26px;
    /* text-align: center; */
    margin-left: 50px;
    
}

label {
    display: block;
    width: 400px;
    margin: 25px 10px 0 50px;
    
}

label span {
    font-size: 14px;
    color: #cfcfcf;
    text-transform: uppercase;
}

input {
    display: block;
    width: 100%;
    margin-top: 40px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 10px;
    /* margin-left: px; */
}
.Huy-Gui{
    display: flex;
    justify-content: space-around;
    margin-right: 70px;
    margin-left: 200px;
}


.submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #d4af7a;
    text-transform: uppercase;
}
